.heading{
	container-name:main;
	container-type:normal;
	width:200px;
	background-color:purple;
	border-left-width: 5px;
	border-left: solid green;
	border-left-color:green;
	padding:10px;
}
#heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}